<!DOCTYPE html>
<html lang="en">
<base href="/" />
<%- include('partials/head', {title: 'Carrito' , css: 'cart.css' }) %>


    <body>
        <%- include('./partials/header') %>
            <main>
                <div class="cart-container">
                    <section class="explore">
                        <h2>Seguí explorando</h2>
                        <% for (let i=0; i<=1; i++) { %>
                            <article class="explore-product">
                                <a href="/products/detail/<%= products[i].id %>">
                                    <img src="/img/products/<%= products[i].img %>">
                                    <h4>
                                        <%= products[i].name %>
                                    </h4>
                                    <h5>
                                        <%= products[i].shortDescription %>
                                    </h5>
                                </a>
                            </article>
                            <% } %>
                    </section>

                    <section class="cart">
                        <h1>Carrito de compras</h1>
                        <section class="cart-bar">
                            <h3>Experiencia</h3>
                            <h3>Precio</h3>
                        </section>

                        <div class="empty">El carrito está vacío</div>

                        <div class="products">
                        </div>
                        
                        <section class="checkout">
                            <h2 class="total">Total: $</h2>
                            <button class="checkout-button">Checkout</button>
                        </section>
                    </section>


                </div>

            </main>
            <%- include('./partials/footer') %>
                <script src="js/cart.js"></script>
                <!-- <script src="js/header.js"></script> -->
    </body>

</html>