<!DOCTYPE html>
<html lang="en">
<base href="/" />
<%- include('partials/head', {title: 'Carrito' , css: 'cart.css' }) %>


    <body>
        <%- include('./partials/header') %>
            <main>
                <div class="data">
                    {"products": [
                    <% products.forEach((product)=> { %>
                        {"id": <%= product.id %>, "name": "<%= product.name %>", "img": "<%= product.img %>", "price":
                                    <%= product.price %>},

                                        <% }); %>
                                            {"id": 100, "name": "closure", "img": "closure", "price": 100}]}
                </div>

                <div class="cart-container">
                    <section class="explore">
                        <h2>Seguí explorando</h2>
                        <% for (let i=0; i<=1; i++) { %>
                            <article class="explore-product">
                                <a href="/products/detail/<%= products[i].id %>">
                                    <img src="/img/products/<%= products[i].img %>">
                                    <h4>
                                        <%= products[i].name %>
                                    </h4>
                                    <h5>
                                        <%= products[i].descriptionShort %>
                                    </h5>
                                </a>
                            </article>
                            <% } %>
                    </section>

                    <section class="cart">
                        <h1>Carrito de compras</h1>
                        <section class="cart-bar">
                            <h3>Experiencia</h3>
                            <h3>Precio</h3>
                        </section>

                        <div class="empty">El carrito está vacío</div>

                        <section class="cart-product">
                            <div class="exp">
                                <i class="fa-sharp fa-solid fa-circle-xmark" id="icon1"></i>
                                <img src="" class="img1">
                                <h4 class="name1"></h4>
                            </div>
                            <div class="price">
                                <h3 class="price1"></h3>
                            </div>
                        </section>

                        <section class="cart-product">
                            <div class="exp">
                                <i class="fa-sharp fa-solid fa-circle-xmark" id="icon2"></i>
                                <img src="" alt="product image" class="img2">
                                <h4 class="name2"></h4>
                            </div>
                            <div class="price">
                                <h3 class="price2"></h3>
                            </div>
                        </section>

                        <section class="cart-product">
                            <div class="exp">
                                <i class="fa-sharp fa-solid fa-circle-xmark" id="icon3"></i>
                                <img src="" alt="product image" class="img3">
                                <h4 class="name3"></h4>
                            </div>
                            <div class="price">
                                <h3 class="price3"></h3>
                            </div>
                        </section>

                        <section class="checkout">
                            <h2 class="total">Total: $</h2>
                            <button class="checkout-button">Checkout</button>
                        </section>
                    </section>

                    
                </div>
                
            </main>
            <%- include('./partials/footer') %>
                <script src="js/cart.js"></script>
    </body>

</html>