<!DOCTYPE html>
<html lang="en">
<base href="/" />
<%- include('partials/head', {title: product.name , css: 'detail.css' }) %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=TU_API_KEY"></script>
    <body>
        <%- include('./partials/header') %>
            <main>
                <section class="bannerShow">
                    <img class="primary-img" src="/img/products/jujuyHumahuaca1.jpg" alt="jujuyHumahuaca1">
                    <img class="second-img" src="/img/products/jujuyHumahuaca2.jpg" alt="jujuyHumahuaca2">
                    <img class="second-img" src="/img/products/jujuyHumahuaca4.jpg" alt="jujuyHumahuaca4">
                </section>
                <p class="descripcion">
                    <%= product.descriptionShort %>
                </p>
                <p class="informacion">Humahuaca cuenta con diferentes servicios turísticos para los visitantes como
                    hoteles
                    y hostales, restaurantes y peñas folclóricas, estación de servicio, campings, museos y feria
                    artesanal,
                    agencias de viajes y hospital.</p>
                <section id="multiTab">
                    <button id="infoTab" class="enableTab">Info</button>
                    <button id="calendarTab" class="disableTab">Calendario</button>
                    <button id="reviewTab" class="disableTab">Review</button>
                </section>
                <section id="tabMain" style="display: flex;">
                    <iframe id="showMaps"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14667.68003662089!2d-65.35970775994967!3d-23.209585586580353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9404e9a4ba40a8c1%3A0x5ff8703d0479ecf9!2sHumahuaca%2C%20Jujuy!5e0!3m2!1ses-419!2sar!4v1658960062384!5m2!1ses-419!2sar"
                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.109745219329!2d-58.429769684173195!3d-34.6771795688969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfc5f7fdef5a10f34!2zMzTCsDQwJzM3LjkiUyA1OMKwMjUnMzkuMyJX!5e0!3m2!1ses-419!2sar!4v1665543654284!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <p class="titleProducts">Otros lugares para visitar</p>
                    <section class="product-showcase">
                        <% products.forEach((product)=> { %>
                            <article class="product">
                                <img src="/img/products/<%= product.img %>" alt="bsas">
                                <div class="product-description">
                                    <h5 class="place"><%= product.name %></h5>
                                    <p class="description">Un dia para conocer los rincones de la ciudad y sentirte un
                                        porteño más. </p>
                                    <br>
                                    <ul>
                                        <li>Tarde de teatro off. En la ciudad hay numerosas obras de teatro en cartel,
                                            muchas de
                                            las
                                            cuales pertenecen a la escena off (no comercial), cuya entrada suele ser más
                                            económica
                                            que
                                            la de los teatros de la avenida Corrientes.</li>
                                        <li>Lecturas únicas. Las librerías son una atracción de la ciudad, que no solo
                                            ofrece
                                            las
                                            grandes cadenas sino también las pequeñas, independientes y con una selección
                                            personal
                                        </li>
                                    </ul>
                                    <p class="price">$<%= product.price %></p>
                                </div>
                            </article>
                        <% }) %>
                        <!-- <article class="product">
                            <img src="/img/products/bsas3.jpg" alt="bsas">
                            <div class="product-description">
                                <h5 class="place">Buenos Aires</h5>
                                <p class="description">Un dia para conocer los rincones de la ciudad y sentirte un
                                    porteño más. </p>
                                <br>
                                <ul>
                                    <li>Tarde de teatro off. En la ciudad hay numerosas obras de teatro en cartel,
                                        muchas de
                                        las
                                        cuales pertenecen a la escena off (no comercial), cuya entrada suele ser más
                                        económica
                                        que
                                        la de los teatros de la avenida Corrientes.</li>
                                    <li>Lecturas únicas. Las librerías son una atracción de la ciudad, que no solo
                                        ofrece
                                        las
                                        grandes cadenas sino también las pequeñas, independientes y con una selección
                                        personal
                                    </li>
                                </ul>
                                <p class="price">$1.500</p>
                            </div>
                        </article>
                        <article class="product">
                            <img src="/img/products/cba1.jpg" alt="cba">
                            <div class="product-description">
                                <h5 class="place">Córdoba</h5>
                                <p class="description">Adrenalina y vistas épicas en la sierra cordobesa</p>
                                <br>
                                <ul>
                                    <li>Vuelo de bautismo. Despegá desde las increíbles sierras cordobesas con los
                                        mejores
                                        profesionales del parapente. Preparate para una experiencia llena de adrenalina
                                        y
                                        con
                                        vistas
                                        aereas épicas. </li>
                                    <li>Asado y fernet. Al volver te esperamos con un tradicional chivito al asador,
                                        para
                                        disfrutar
                                        un buen almuerzo en un entorno natural único. Como aperitivo un imperdible
                                        fernet,
                                        la
                                        bebida
                                        emblemática. </li>
                                </ul>
                                <p class="price">$3.000</p>
                            </div>
                        </article>
                        <article class="product">
                            <img src="/img/products/rn1.jpeg" alt="rn">
                            <div class="product-description">
                                <h5 class="place">Rio Negro</h5>
                                <p class="description">Una noche estrellada en plena Patagonia</p>
                                <br>
                                <ul>
                                    <li>Refugio Meseta Somuncura. Alejado de la civilización, en un paraje exclusivo e
                                        imponente, se
                                        encuentra el refugio de montaña donde se pasa una noche de absoluta paz con
                                        vistas
                                        de un
                                        cielo estrellado como nunca antes viste.</li>
                                    <li>Cultura Mapuche. Las distintas comunidades mapuches de Rio Negro invitan a los
                                        viajeros a descubrir sus tradiciones, música, artesanías y gastronomía entre
                                        lagos, bosques y montañas. Una perspectiva diferente de esta cultura milenaria
                                        que conserva su cosmovisión y costumbres ancestrales a pesar de la amenaza
                                        permanente.</li>
                                </ul>
                                <p class="price">$2.000</p>
                            </div>
                        </article> -->
                    </section>
                </section>
                <section id="tabCalendar" style="display: none">
                    <section id="calendario">
                        <div class="calendar">
                            <div class="calendar__info">
                                <div class="calendar__prev" id="prev-month"><i
                                        class="fa-sharp fa-solid fa-arrow-left"></i></div>
                                <div class="calendar__month" id="month-year"></div>
                                <div class="calendar__next" id="next-month"><i
                                        class="fa-sharp fa-solid fa-arrow-right"></i></div>
                            </div>

                            <div class="calendar__week">
                                <div class="calendar__day calendar__item">Mon</div>
                                <div class="calendar__day calendar__item">Tue</div>
                                <div class="calendar__day calendar__item">Wed</div>
                                <div class="calendar__day calendar__item">Thu</div>
                                <div class="calendar__day calendar__item">Fri</div>
                                <div class="calendar__day calendar__item">Sat</div>
                                <div class="calendar__day calendar__item">Sun</div>
                            </div>

                            <div class="calendar__dates" id="dates"></div>
                        </div>
                    </section>
                    <article class="product-detail-info">
                        <div class="priceProducts">
                            <% if(product.discount==null) { %>
                                <p class="product-detail-price" style="width: 100;">
                                    $<span><%= product.price %></span>
                                </p>
                                <% } else {%>
                                    <p class="product-detail-price">
                                        <del>$<%= product.price %></del>
                                    </p>
                                    <p class="product-detail-price small">
                                        <span>$<%= (product.price - ((product.price * product.discount) / 100)) %>
                                                </span><b id="discount">%<%= product.discount %>OFF</b>
                                    </p>
                                    <% } %>
                        </div>
                        <div class="actions-list">
                            <p><i class="fas fa-credit-card"></i>Pagá en 12 cuotas sin interes</p>
                            <button id="cuotas">cuotas disponibles</button>
                        </div>
                        <div class="actionProduct">
                            <a href="#" class="buyProduct" id="buyNow">COMPRAR AHORA</a>
                            <a href="#" class="addProduct" id="cartAdd">AGREGAR AL CARRITO</a>
                        </div>
                        <!-- <a href="/products/edit/<%= product.id %>" class="action-button edit">EDITAR
                            PRODUCTO</a>
                        <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST"
                            style="display: inline-flex">
                            <button type="submit" class="action-button delete">ELIMINAR</button>
                        </form> -->
                    </article>
                    <section id="pop-up" style="display: none;">
                        <i class="fa-solid fa-rectangle-xmark"></i>
                        <div class="pop-up-info">
                            <div id="cuotaSin">
                                <h2 class="title">Tarjeta de crédito</h2>
                                <p>Hasta 12 cuotas sin interés</p>
                                <div>
                                    <img src="/img/products/visaLogo.svg" alt="visaLogo">
                                    <span>12 cuotas</span>
                                </div>
                                <div>
                                    <img src="/img/products/masterLogo.svg" alt="mastercardLogo">
                                    <span>12 cuotas</span>
                                </div>
                                <div>
                                    <img src="/img/products/naranjaLogo.svg" alt="naranjaLogo">
                                    <span>12 cuotas</span>
                                </div>
                                <div>
                                    <img src="/img/products/amexLogo.svg" alt="amexLogo">
                                    <span>12 cuotas</span>
                                </div>
                                <div>
                                    <img src="/img/products/cabalLogo.svg" alt="cabalLogo">
                                    <span>12 cuotas</span>
                                </div>
                            </div>
                            <div id="tarjetaDebito">
                                <h2 class="title">Tarjeta de debito</h2>
                                <div>
                                    <img src="/img/products/visaDebito.svg" alt="visaDebito">
                                </div>
                                <div>
                                    <img src="/img/products/masterDebito.svg" alt="mastercardDebito">
                                </div>
                                <div>
                                    <img src="/img/products/cabalDebito.svg" alt="cabalDebito">
                                </div>
                            </div>
                            <div id="pagoUnico">
                                <h2 class="title">Unico pago</h2>
                                <div>
                                    <img src="/img/products/paypalLogo.svg" alt="paypalLogo">
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
                <section id="tabReview" style="display: none">
                    <section id="opiniones">
                        <article>
                            <p class="userName">nombreApellido</p>
                            <img class="imgPerfil" src="/img/user/perfil1.webp" alt="iconAvatar">
                            <p class="textOpinion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab maiores
                                nihil accusamus adipisci officiis consequatur, magni explicabo perferendis fuga
                                asperiores,
                                dolores maxime laudantium consequuntur omnis aliquam? Nemo ex dolores recusandae.</p>
                        </article>
                        <article>
                            <p class="userName">nombreApellido</p>
                            <img class="imgPerfil" src="/img/iconAvatar.png" alt="iconAvatar">
                            <p class="textOpinion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab maiores
                                nihil accusamus adipisci
                                officiis consequatur, magni explicabo perferendis fuga asperiores, dolores maxime
                                laudantium
                                consequuntur omnis aliquam? Nemo ex dolores recusandae.</p>
                        </article>
                        <article>
                            <p class="userName">nombreApellido</p>
                            <img class="imgPerfil" src="/img/user/perfil2.jpeg" alt="iconAvatar">
                            <p class="textOpinion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab maiores
                                nihil accusamus adipisci
                                officiis consequatur, magni explicabo perferendis fuga asperiores, dolores maxime
                                laudantium
                                consequuntur omnis aliquam? Nemo ex dolores recusandae.</p>
                        </article>
                        <article>
                            <p class="userName">nombreApellido</p>
                            <img class="imgPerfil" src="/img/user/perfil3.jpg" alt="iconAvatar">
                            <p class="textOpinion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab maiores
                                nihil accusamus adipisci
                                officiis consequatur, magni explicabo perferendis fuga asperiores, dolores maxime
                                laudantium
                                consequuntur omnis aliquam? Nemo ex dolores recusandae.</p>
                        </article>
                    </section>
                </section>
            </main>
            <script src="/js/detail.js"></script>
    </body>
    <%- include('./partials/footer') %>

</html>