<!DOCTYPE html>
<html lang="en">
<base href="/" />
<%- include('partials/head', {title: product.name , css: 'detailB.css' }) %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <div class="productContainer">
                    <div class="product1">
                        <div class="row1">
                            <div class="col1">
                                <img class="productImg" src="./img/products/<%= product.img %>" alt="product image">
                            </div>
                            <div class="col2">
                                <div class="product-description">
                                    <h5 class="name1">
                                        <%= product.name %>
                                    </h5>
                                    <p class="shortDescription1">
                                        <%= product.shortDescription %>
                                    </p>
                                    <p class="longDescription1">
                                        <%= product.longDescription %>
                                    </p>
                                    <p class="price1">$<%= product.price %>
                                    </p>
                                    <p class="discount1">
                                        <% if (product.discount > 0) { %>
                                            <%= product.discount %>% OFF
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="buttonContainer">
                            <button type="button" class="add" id=<%=product.id %>>Agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </main>
    </body>
    <script src="js/detailB.js"></script>
    <script src="js/header.js"></script>
    <%- include('./partials/footer') %>

</html>