<!DOCTYPE html>
<html lang="en">
<base href="/" />
<%- include('partials/head', {title: 'Cambio de imagen' , css: 'imgEdit.css' }) %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <h2 class="edit-title">Edición de imagen de: <%= productToEdit.name %>
                </h2>
                <div class="container">
                    <div class="form-container">
                        <div class="row-1">
                            <div class="c-1">
                                <div class="product-img">
                                    <figure>
                                        <p class="img-title">Imagen actual:</p>
                                        <img class="imgEdit" src="/img/products/<%= productToEdit.img %>" alt="product image">
                                    </figure>
                                </div>
                            </div>
                            <div class="c-2">
                                <form action="/products/edit/img/<%= productToEdit.id %>?_method=PUT" method="POST"
                                    enctype="multipart/form-data" class="img-form">
                                    <div class="input-container">
                                        <label for="img" class="label-container">Elegir nueva imagen:</label><br>
                                        <input type="file" name="img" id="img" class="img-input"
                                            value="<%= productToEdit.img %>">
                                        <div class="errors-msg">
                                            <div class="error"></div>
                                            <% if(locals.errors && errors.img) { %>
                                                <p>
                                                    <%= errors.img.msg %>
                                                </p>
                                                <% } %>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="row-2">
                            <div class="button-container">
                                <button type="submit" class="submit-button">Guardar imagen</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </main>
            <%- include('./partials/footer') %>
                <script src="js/header.js"></script>
                <script src="js/imgEdit.js"></script>
    </body>

</html>