<!DOCTYPE html>
<html lang="en">
<base href="/" />
<%- include('partials/head', {title: 'Formulario de edición', css: 'productEditForm.css'}) %>


<body>
    <%- include('./partials/header') %>
        <main>
            <div class="<">
                <div class="<">
                    <div class="<">
                        <h2 class="edit-title">Formulario de edición de productos</h2>
                    </div>
                </div>
                <div class="<">
                    <form action="/products/edit/<%= productToEdit.id %>?_method=put" method="post" enctype="multipart/form-data">
                        <div class="<">
                            <div class="<">
                                <label for="name" class="<">Lugar:</label>
                                <input type="text" id="name" name="name" class="<" value="<%= productToEdit.name %>">
                            </div>
                            <div class="<">
                                <label for="price" class="<">Precio:</label>
                                <input type="text" id="price" name="price" class="<" value="<%= productToEdit.price %>">
                            </div>
                            <div class="<">
                                <label for="discount" class="<">Descuento:</label>
                                <input type="text" id="discount" name="discount" class="<" value="<%= productToEdit.discount %>">
                            </div>
                            <div class="<">
                                <label for="category" class="<">Categoría:</label>
                                <select name="category" id="category" class="<">
                                    <option value="">Elegí</option>
                                    <option value="urbano">Urbano</option>
                                    <option value="naturaleza">Naturaleza</option>
                                    <option value="aventura">Aventura</option>
                                </select>
                            </div>
                            <div class="<">
                                <label for="shortDescription" class="<">Descipción breve:</label>
                                <textarea name="shortDescription" id="shortDescription"
                                    class="form-input" value="<%= productToEdit.shortDescription %>"></textarea>
                            </div>
                            <div class="<">
                                <label for="longDescription" class="<">Descipción completa:</label>
                                <textarea name="longDescription" id="longDescription" class="form-input" value="<%= productToEdit.longDescription %>"></textarea>
                            </div>
                            <div class="<">
                                <label for="image" class="form-label">Imagen:</label>
                                <input type="file" name="image" id="image" class="form-input"></input>
                            </div>
                            <div class="<">
                                <button type="submit" class="submit-button">Guardar producto</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>