<!DOCTYPE html>
<html lang="en">
<base href="/" />
<%- include('partials/head', {title: 'Eliminar producto' , css: 'productDelete.css' }) %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <div class="form-container">
                    <h1>¿Está seguro que desea eliminar el producto <%= product.name %> - <%= product.shortDescription %>?
                    </h1>
                    <form class="form" action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                        <div class="button-container">
                            <button class="button" type="submit">Si</button>
                            <a href="/products"><button type="button" class="button">No</button></a>
                        </div>
                    </form>
                </div>
            </main>
            <script src="js/header.js"></script>
            <%- include('./partials/footer') %>
    </body>

</html>