<!DOCTYPE html>
<html lang="en">
<base href="/" />
<%- include('partials/head', {title: 'Eliminar producto' , css: 'productDelete.css' }) %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <h1>¿Está seguro que desea eliminar el producto <%= product.name %> - <%= product.descriptionShort %>?</h1>
                <form class="form" action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                    <button type="submit">Si</button>
                    <a href="/products"><button>No</button></a>
                </form>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>