<!DOCTYPE html>
<html lang="en">
<base href="/" />
<%- include('partials/head', {title: 'Perfil' , css: 'profile.css' }) %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <section>
                    <h2>Hola, <%= user.firstName %></h2>
                    <div class="profile-image">
                        <img src="./img/users/<%= user.image %>">
                    </div>
                    <div class="profile-info">
                        <ul>
                            <li>Email: <%= user.email %></li>
                        </ul>
                        <p>Queremos saber mas sobre vos:</p>
                    </div>
                </section>
            </main>
    </body>
    <%- include('./partials/footer') %>

</html>



    <form id="login-form" action="/user/register" method="POST" class="form" enctype="multipart/form-data">
        <div class="form-group">
            <label class="form-label" for="image">Imagen de perfil</label>
            <input type="file" class="form-control" name="image">
        </div>
    </form>