<!DOCTYPE html>
<html lang="es">
<base href="/" />
<%- include('partials/head', {title: 'Formulario de creación de regiones' , css: 'regionCreate.css' }) %>

    <body>
        <%- include('partials/header') %>
            <main>
                <h2 class="create-title">Formulario de creación de regiones</h2>
                <div class="container">
                    <div class="form-container">
                        <form action="/regions/create" method="POST" enctype="multipart/form-data">
                            <div class="row-1">
                                <div class="c-1">
                                    <div class="input-container">
                                        <label for="name" class="label-container">Región:</label>
                                        <br>
                                        <input type="text" id="name" name="name" placeholder="Ej: Buenos Aires"
                                            class="input" value="<%= locals.oldData ? oldData.name : null %>">
                                        <div class="errors-msg">
                                            <% if(locals.errors && errors.name) { %>
                                                <p>
                                                    <%= errors.name.msg %>
                                                </p>
                                                <% } %>
                                        </div>
                                    </div>
                                    <div class="input-container">
                                        <label for="clima" class="label-container">Clima:</label>
                                        <br>
                                        <input type="text" id="clima" name="clima" placeholder="Ej: Árido"
                                            class="input" value="<%= locals.oldData ? oldData.clima : null %>">
                                        <div class="errors-msg">
                                            <% if(locals.errors && errors.clima) { %>
                                                <p>
                                                    <%= errors.clima.msg %>
                                                </p>
                                                <% } %>
                                        </div>
                                    </div>
                                    <div class="input-container">
                                        <label for="image" class="label-container">Imagen:</label><br>
                                        <input type="file" name="img" id="img" class="img-input"  value="<%= locals.oldData ? oldData.img : null %>">
                                        <div class="errors-msg">
                                            <% if(locals.errors && errors.img) { %>
                                                <p>
                                                    <%= errors.img.msg %>
                                                </p>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="button-container">
                                <button type="submit" class="submit-button">Crear región</button>
                            </div>
                    </div>
                    </form>
                </div>
            </main>
            <%- include('partials/footer') %>
    </body>

</html>