<!DOCTYPE html>
<html lang="en">
<base href="/" />
<%- include('partials/head', {title: 'Registrate' , css: 'register.css' }) %>

    <body>
        <main>
            <%- include('./partials/header') %>
                <section class="account-page">
                    <h3>¡Creá tu cuenta!</h3>
                    <div class="container">
                        <form id="login-form" action="/user/register" method="POST" class="form" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="form-label " for="name">Nombre</label>
                                <input type="text" class="form-control" autocorrect="off" autocapitalize="off"
                                    name="firstName" placeholder="ej: Pablo">
                                    <div>
                                        <p>Error</p>
                                        <% if(locals && locals.errors) { %>
                                        <% for(let error in errors) { %>
                                            <p><%= errors[error].msg %></p>
                                        <% } %>
                                        <% } %>
                                        <!-- <% if(locals.errors && errors.firstName) { %>
                                            <%= errors.firstName.msg %>
                                        <% } %>              -->
                                    </div>                   
                            </div>
                            <div class="form-group">
                                <label class="form-label " for="lastName">Apellido</label>
                                <input type="text" class="form-control" autocorrect="off" autocapitalize="off"
                                    name="lastName" placeholder="ej: Pérez">
                            </div>
                            <div class="form-group">
                                <label class="form-label " for="email">Email</label>
                                <input type="email" class="form-control" autocorrect="off" autocapitalize="off"
                                    name="email" placeholder="ej: name@email.com">
                            </div>
                            <div class="form-group">
                                <label class="form-label " for="category">Categoría</label>
                                <input type="text" class="form-control" autocorrect="off" autocapitalize="off"
                                    name="category" placeholder="ej: Admin">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="password">Contraseña</label>
                                <input type="password" class="form-control" autocorrect="off" autocapitalize="off"
                                    autocomplete="off" name="password" placeholder="8 caratéres mínimo">
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="image">Imagen de perfil</label>
                                <input type="file" class="form-control" name="image">
                            </div>
                            <button class="reset-button" type="reset">Borrar todo</button>
                            <button class="register-button" type="submit">Crear cuenta</button>
                        </form>
                        <p class="text-center t2">¿Ya tenés una cuenta? <a href="/login" class="login-button">Iniciá
                                sesión</a>
                        </p>
                    </div>
                </section>
        </main>
        <%- include('./partials/footer') %>
    </body>

</html>