<!DOCTYPE html>
<html lang="en">
<base href="/" />
<%- include('partials/head', {title: 'Cambio de imagen de región' , css: 'regionImgEdit.css' }) %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <h2 class="edit-title">Cambio de imagen de: <%= regionToEdit.name %>
                </h2>
                <div class="container">
                    <div class="form-container">
                        <div class="row-1">
                            <div class="c-1">
                                <div class="product-img">
                                    <figure>
                                        <img src="./img/regions/<%= regionToEdit.img %>" alt="region image">
                                    </figure>
                                </div>
                                <form action="/regions/edit/img/<%= regionToEdit.id %>?_method=PUT" method="POST"
                                    enctype="multipart/form-data">
                                    <div class="input-container">
                                        <label for="img" class="label-container">Elegir nueva imagen:</label><br>
                                        <input type="file" name="img" id="image" class="img-input"
                                            value="<%= regionToEdit.img %>">
                                        <div class="errors-msg">
                                            <% if(locals.errors && errors.img) { %>
                                                <p>
                                                    <%= errors.img.msg %>
                                                </p>
                                                <% } %>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="button-container">
                            <button type="submit" class="submit-button">Guardar imagen</button>
                        </div>
                    </div>
                    </form>
                </div>
            </main>
            <script src="js/header.js"></script>
            <%- include('./partials/footer') %>
    </body>

</html>