<!DOCTYPE html>
<html lang="en">
<base href="/" />
<%- include('partials/head', {title: 'Formulario de cambio de contraseña' , css: 'userPasswordEdit.css' }) %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <h2 class="edit-title">Formulario de cambio de contraseña: <%= userToEdit.firstName %>
                        <%= userToEdit.lastName %>
                </h2>
                <div class="container">
                    <div class="form-container">
                        <form action="/user/edit/password/<%= userToEdit.id %>?_method=PUT" method="POST">
                            <div class="row-1">
                                <div class="c-1">
                                    <div class="input-container">
                                        <label for="password" class="label-container">Nueva contraseña:</label>
                                        <br>
                                        <input type="password" id="password" name="password" class="input">
                                        <div class="errors-msg">
                                            <% if(locals.errors && errors.password) { %>
                                                <p>
                                                    <%= errors.password.msg %>
                                                </p>
                                                <% } %>
                                        </div>
                                    </div>
                                    <div class="input-container">
                                        <label for="password2" class="label-container">Confirmar nueva
                                            contraseña:</label>
                                        <br>
                                        <input type="password" id="password2" name="password2" class="input">
                                        <div class="errors-msg">
                                            <% if(locals.errors && errors.password2) { %>
                                                <p>
                                                    <%= errors.password2.msg %>
                                                </p>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                                <div class="button-container">
                                    <button type="submit" class="submit-button">Cambiar contraseña</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
            <script src="js/header.js"></script>
            <%- include('./partials/footer') %>
    </body>

</html>